.gradient {
  background: linear-gradient(92deg, var(--orange) 27.14%, var(--red) 121.36%), var(--gray);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
}