$gray-dark: var(--gray-dark);
$gap-default: 10px;

.footer {
  @media screen and (max-width: 768px) {
    background-color: var(--black);
    padding-top: 40px;
  }

  .top {
    display: flex;

    @media screen and (max-width: 768px) {
      flex-wrap: wrap;
    }

    .title {
      color: $gray-dark;
      margin-bottom: 20px;
      letter-spacing: 0.05em;
    }

    .listBox {
      display: grid;
      margin-right: auto;
      
      & > div {
        display: grid;
        grid-template-columns: 1fr 1fr;
      }
    }

    .list {
      display: flex;
      flex-direction: column;
      gap: $gap-default;

      a {
        line-height: 17px;
      }

      @media screen and (max-width: 768px) {
        font-size: 14px;
        line-height: 17px;
      }
    }

    .about {
      margin-right: clamp(5%, 25vw, 100px);
    }
  
    .column,
    .columnContacts {
      display: flex;
      flex-direction: column;

      a {
        letter-spacing: -0.8px;
      }
    }
  
    .columnContacts {
      text-align: end;

      @media screen and (max-width: 768px) {
        text-align: left;
      }

      .list {
        gap: 20px;
      }

      .list .social ul {
        max-width: 80px;
        margin-left: auto;

        @media screen and (max-width: 768px) {
          margin-left: 0;
        }
      }
    }

    @media screen and (max-width: 768px) {
      .listBox,
      .column {
        margin-bottom: 30px;
      }
    }
  }

  .bottom {
    display: flex;
    flex-direction: column;
    text-align: end;
    font-size: 12px;
    line-height: 15px;
    padding-top: 70px;
    padding-bottom: 20px;

    @media screen and (max-width: 768px) {
      text-align: left;

      padding-top: 50px;
      padding-bottom: 60px;
    }

    span {
      margin-bottom: 5px;
    }

    a {
      font-weight: 300;
      letter-spacing: 0.4px;
      text-decoration: underline;

      text-decoration-color: var(--gray);
    }
  }
}