$gray-dark: var(--gray-dark);
$gap-default: 10px;

.footer {
  display: flex;
  flex-direction: column;

  .top {
    display: flex;
    margin-bottom: 30px;

    @media screen and (max-width: 768px) {
      flex-wrap: wrap;
    }

    .title {
      color: $gray-dark;
      margin-bottom: 20px;
      letter-spacing: 0.05em;
    }

    .listBox {
      display: grid;
      margin-right: auto;
      
      & > div {
        display: grid;
        grid-template-columns: 1fr 1fr;
      }
    }

    .list {
      display: flex;
      flex-direction: column;
      gap: $gap-default;
    }

    .about {
      margin-right: clamp(5%, 25vw, 100px);
    }
  
    .column,
    .columnContacts {
      display: flex;
      flex-direction: column;

      a {
        letter-spacing: -0.8px;
      }
    }
  
    .columnContacts {
      text-align: end;

      @media screen and (max-width: 768px) {
        text-align: left;
      }

      .list {
        gap: 20px;
      }

      .list .social ul {
        max-width: 80px;
        margin-left: auto;

        @media screen and (max-width: 768px) {
          margin-left: 0;
        }
      }
    }

    @media screen and (max-width: 768px) {
      .listBox,
      .column {
        margin-bottom: 30px;
      }
    }
  }

  .bottom {
    display: flex;
    flex-direction: column;
    text-align: end;
    font-size: 12px;
    line-height: 15px;
    padding-bottom: 20px;

    span {
      margin-bottom: 5px;
    }

    a {
      text-decoration: underline;
    }
  }
}