.wrapper {
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding: 86px 0 70px 0;

  @media screen and (max-width: 768px) {
    display: grid;
    justify-content: center;
    gap: 45px;
    padding: 40px 0 0 0;
  }

  .first {
    .title {
      max-width: min-content;
      margin-bottom: 30px;
    }

    .subtitle {
      letter-spacing: 1.2px;

      p {
        line-height: 22px;
      }
    }
  }

  .second {
    padding-top: 16px;
    text-align: end;

    @media screen and (max-width: 768px) {
      text-align: left;
    }

    .secondTitle {
      letter-spacing: 0.8px;
      margin-bottom: 40px;
      
      @media screen and (max-width: 768px) {
        margin-bottom: 20px;
      }

      .fixLetterSpace {
        letter-spacing: -0.4px;
      }
    }

    .grid {
      display: grid;
      grid-template-columns: 1fr 1fr;
      gap: 30px;
      margin-bottom: 61px;

      @media screen and (max-width: 768px) {
        margin-bottom: 55px;
        gap: 14px 10px;
        div > h4 {
          position: relative;
          padding-left: 15px;
          margin-bottom: 0;
          display: block;
          font-weight: 400;

          &::before {
            content: '';
            position: absolute;
            top: 50%;
            left: 0;
            transform: translateY(-50%);
            width: 10px;
            height: 2px;
            background: linear-gradient(90deg, #FCB045 36.99%, #FD1D1D 100%);
          }
        }

        p {
          display: none;
        }
      }
    }

    .titleGridItem {
      margin-bottom: 6px;
      letter-spacing: 0.4px;
    }
  }

  .button {
    padding: 20px 34px;
    color: var(--white);
    background-color: var(--blue);

    @media screen and (max-width: 768px) {
      display: none;
    }
  }
}

