h1,h2,h3,h4,h5,
.h1,.h2,.h3,.h4,.h5 {
  font-family: 'Inter', sans-serif;
  letter-spacing: -0.4px;
}

.h1 {
  font-size: 48px;
  line-height: 58px;

  @media screen and (max-width: 768px) {
    font-size: 36px;
    line-height: 44px;
  }
}

h2 {
  font-size: 18px;
  line-height: 22px;
}

h3 {
  font-size: 18px;
  line-height: 22px;
}

h4 {
  font-size: 18px;
  line-height: 22px;

  @media screen and (max-width: 768px) {
    font-size: 13px;
    line-height: 16px;
  }
}

h5 {
  font-size: 14px;
  line-height: 17px;

  @media screen and (max-width: 768px) {
    font-size: 12px;
    line-height: 15px;
  }
}

@for $i from 1 through 9 {
  $weight: #{$i * 100};

  .weight--#{$weight} {
    font-weight: $weight;
  }
}